body {
    font-family: 'Montserrat', 'Inter', sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator-container {
    max-width: 340px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    text-align: center;
}

.units-and-growth-stage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.temperature-units {
    display: flex;
    align-items: center;
}

.temperature-units label {
    margin-right: 10px;
}

#growth-stage {
    font-size: 1.05em;
}

.input-fields {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.input-row input {
    width: 50px;
    font-size: 1.1em;
    margin-right: 5px;
}

.invalid-input {
    color: rgb(220, 0, 0);
}

.lock-icon {
    cursor: pointer;
    margin-right: 6px;
}

.custom-lock-icon {
    color: gray;
}

.fa-lock {
    margin-right: 4px;
}

.fa-lock-open {
    margin-right: 1px;
}

.unit-symbol, .rh-symbol {
    display: inline-block;
    margin-left: 5px;
}

.vpd-slider {
    position: relative;
    width: 100%;
    max-width: 340px;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#vpd-range {
    appearance: none; /* Remove default appearance */
    -moz-appearance: none;
    width: 100%;
    height: 15px;
    background: linear-gradient(to right, rgb(220, 0, 0) 0%,rgb(220, 0, 0) 1%, orange 21%, green 27%, green 31%, orange 37%, rgb(220, 0, 0) 57%, rgb(220, 0, 0) 100%);
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}

#vpd-value {
    font-weight: bold;
    text-align: center;
}


.error-message {
    background-color: rgb(186, 0, 0);
    color: white;
    font-size: 0.8em;
    max-width: 138px;
    text-align: left;
    display: none;
    position: absolute;
    border-radius: 5px;
    padding: 5px 6px;
    margin-left: 77px;
    margin-top: -86px;
    opacity: 0;
    transform-origin: bottom left;
    transform: scale(0);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.error-message:after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 20%;
    margin-left: -15px;
    border-width: 7px 6px 0;
    border-style: solid;
    border-color: rgb(186, 0, 0) transparent transparent;
}

.error-message.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.error-message.hide {
    opacity: 0;
    transform: scale(0);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
